#logo{
	margin-bottom: 20px;
}

.navbar-default{
	background-color: black;
}
.navbar .divider-vertical {
    height: 50px;
    margin: 0 10px;
    border-right: 1px solid #DAD3D1;
    border-left: 1px solid #DAD3D1;
}

.navbar-inverse .divider-vertical {
    border-right-color: #DAD3D1;
    border-left-color: #DAD3D1;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.carousel-control {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
     z-index: 5;
    display: inline-block;
}
.feat-head{
	text-align: left;
}

.divide-vertical {
    margin-right: 5px;
    border-right: 2px solid #DAD3D1;  
}

.text-black {
	color : #237A72;
}
.article-news{
	color : #237A72;
}
.article-content{
	overflow: hidden;
	white-space: nowrap;
}
.thread {
	margin-top : 10px;
	text-indent: 0px;
}
.article-date{
	font-weight: 100;
}
.about{
	/*company about*/
	color : #237A72;
}
.services{
	margin-top : 50px;
}
/*----FOOTER-----*/
footer{
	margin-top: 30px;
	box-shadow: 0px 0px 5px #237A72;
	background-color: #237A72;
	background-image: url("footer.png");
	z-index: -20;
	
	
}
.foot{
	margin-top: 20px;
	
}
.foot-links a, .foot-links p{
  display: block;
   color: black;
  /*  transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;*/
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 12px;
  color: #00000;
  opacity : 0.8;
  padding-bottom: 5px;
  /*text-shadow: rgb(255, 255, 255) 1px 1px 0px;*/ 
}
.foot-header{
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 13px;
  font-weight : bold;
  color: #00000;
  opacity: 0.9;
  padding-bottom: 15px;
  /*text-shadow: rgb(255, 255, 255) 1px 1px 0px;*/
}

/*SOCIAL--*/
.social{
	padding-bottom : 30px;
	
}

.fb{
	background-image : no-repeat;
	width : 87%;
	height : 33px;
	background-image: url('socialshare.png');
}

